nav {
    padding: 30px;
    background: pink;
}

.link {
    padding: 20px;
    background: orange;
    border: 5px solid mediumspringgreen;
    display: inline-block;
    margin: 10px;
}

.inline {
    background: mediumspringgreen;
    padding: 10px;
    display: inline;
    margin: 20px;
}

.inline-block {
    background: pink;
    padding: 10px;
    display: inline-block
}

.block {
    background: orange;
    padding: 10px;
}