body {
    font-family: Helvetica, arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 3vw;
    margin: 40px 0;
}

div {
    background: lightseagreen;
    padding: 10px;
    color: white;
    font-size: 1.5vw;
}

div:nth-child(odd) {
    background: rgb(205, 136, 111);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex-basis: 20%;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}
